{% extends 'takenumbers/base.html' %}

{% block content %}

<div class="jumbotron"><h1 style="font-size:8vw;">Dashboard</h1></div>
<div class="container">
<div class="card">
    <div class="card-header">
    <h3 style="font-size:6vw;"><button class="btn btn-warning">{{nums_working}}</button> working... </h3>
    </div>
    <div class="card-body">
        <p class="card-text"><button class="btn btn-outline-info">45,2</button> Bestellungen pro Stunde  </p>
        <p class="card-text"><button class="btn btn-outline-info">3:21</button> dauert eine Bestellung </p>
    </div>
</div>
<div>&nbsp;</div>
<div class="card">
  <div class="card-header">
     <h3 style="font-size:6vw;"><button class="btn btn-primary">{{nums_count}}</button> Bestellungen</h3>
  </div>
  <div class="card-body">
    <a href="{% url 'takenumbers:alldelete' %}" class="btn btn-danger">Tagesabschluss</a>
  </div>
</div>
<div>&nbsp;</div>
</div>
</div> 

{% endblock content %}
