{% extends 'takenumbers/base.html' %}

{% block content %}
<script>
    function increaseValue()
{
    var value = parseInt(document.getElementById('ex2').value, 10);
    value = isNaN(value) ? 0 : value;
    value = value + 1;
    document.getElementById('ex2').value = value;
}
function reduceValue()
{
    var value = parseInt(document.getElementById('ex2').value, 10);
    value = isNaN(value) ? 0 : value;
    value = value - 1;
    document.getElementById('ex2').value = value;
}
</script>
<div class="jumbotron"><h1 style="font-size:8vw;">Bestellung erstellen</h1></div>

<div class="container">
    {% if error  %}
        <div class="alert alert-danger" role="danger"><strong>{{error}}</strong></div>
    {% endif %}
    {% if lastbnum %}
        <div class="alert alert-dark" role="alert">Letzte Bestellnummer: <strong>{{lastbnum.bnum}}</strong></div>
    {% endif %}
        <form method="POST">
        <div class="card">
            <h5 class="card-header">Bestellnummer eingeben</h5>
            <div class="card-body">
                    {%csrf_token%} 
                    <div class="form-group row"><input type="button" class="btn btn-primary btn-danger" onclick="reduceValue()" value="-" />
                    <div class="col-xs-3">
                    <input class="form-control" id="ex2" type="number" name="bnum" autocomplete="off" value="{{lastbnum.bnum|add:1}}">
                    </div>
                    <input type="button" class="btn btn-primary btn-success" onclick="increaseValue()" value="+" />           
            </div></div>
            <div class="card-footer"><button class="btn btn-primary" type="submit" onclick="location.href='takenumbers/next.html';">Erstellen</button></div>
        </div>
        </form>        
</div>
{% endblock content %}
