{% extends 'takenumbers/base.html' %}

{% block content %}

<div class="jumbotron"><h1>In Arbeit</h1></div>
<div class="container">
{% for num in nums %}
    <div class="row">
        <div class="col-1">&nbsp;</div>
        <div class="col-2 d-flex justify-content-center alert alert-warning">
            <h1><strong>{{num.bnum}}</strong></h1>
        </div>
        <div class="col-2">
            <form method="POST" action="{% url 'takenumbers:bnready' num.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Ready</button>
            </form>
        </div>
    </div>

{% endfor %}
</div> 

{% endblock content %}
